@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.row{
    width: 100%;
}
.container{
    background-color: rgb(17, 24, 39);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 50px;
}
.img_logo{
    width: 50px;
    margin: 0 16px;
}
.nav_menu{
    display: flex;
}
.nav_links{
    display: flex;
    list-style: none;
}
.nav_link{
    margin: 0 0 0 50px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: aliceblue;
}
.nav_btns{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav_btn{
    margin: 0 16px;
    padding: 6px;
    border-radius: 10px;
}
.nav_link-btn{
    text-decoration: none;
    margin: 8px;
    font-size: 18px;
    color:rgb(45, 38, 76);
}
.menu_bar{
    width: 30px;
    border-radius: 5px;
    background-color: aliceblue;
    cursor: pointer;
    display: none;
}

/* header */
.header{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.header_description{
    width: 40%;
    display: flex;
    flex-direction: column;
   
}
.header_description-img{
   width: 600px;
   padding: 36px;
   margin: 0 auto;
}
p{
    color: aliceblue;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 16px 0;
}
h1{
    font-weight: 900;
    font-size: 50px;
    color: aliceblue;
}
.header_description-btn{
    width: 200px;
    margin: 36px 0 0 0;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 16px;
    cursor: pointer;
}

/* responsiveness */
@media only screen and (max-width: 980px){
    .nav_menu{
        width: 100%;
        height: 100vh;
        top: 150px;
        right: 0;
        z-index: 2;
        background: rgb(17, 24, 39);
        position: absolute;
        line-height: 2.5;
        flex-direction: column;
       
    }
    .nav_btns, .nav_links{
        display: block;
    }
    .nav_link{
        font-size: 40px;
        font-weight: 400;
        color: aliceblue;
        padding-top: 8px;
    }
    .nav_link :hover{
        background-color: bisque;
    }
    .nav_btn{
        margin-top: 16px;
        background: none;
        border: none;
    }
    .nav_link-btn{
        color: aliceblue;
        font-size: 40px;
        font-weight: 400;
        margin: 0 0 0 40px;
    }
    .menu_bar{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: all 1s ease;
    }
    .header{
        flex-direction: column;
        align-items: flex-start;
    }
    .header_description, .header_description-img{
        width: 100%;
        padding: 0 40px;
    }
    .header_description-btn{
        width: 180px;
        margin: 36px 0 36px 0;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        padding: 16px;
        cursor: pointer;
    }
}